@keyframes shiftLeftOut {
  from {
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes shiftLeftIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.root {
  margin-top: 20px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 8px;
  background: var(--color-peach-3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 70%);

  .burger {
    display: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

.compact {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-name: shiftLeftIn;
  transform-origin: left top;
  animation-fill-mode: forwards;
}

.exitMenu {
  animation-name: shiftLeftOut;
}

.closeDrawerButton {
  background: white;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  margin: 8px;
  border: 1px solid gray;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openDrawerButton {
  display: none;
  background: white;
  width: 32px;
  height: 32px;
  border: 1px solid gray;


  @media (max-width: 768px) {
    & {
      position: fixed;
      top: 12px;
      left: 12px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
