.root {
  --last-news-gap: 8px;

  [data-card-content] {
    display: flex;
    justify-content: space-between;
    gap: var(--last-news-gap);
  }

  @media (max-width: 586px) {
    [data-card-content] {
      flex-direction: column;
      align-items: center;
    }
  }

}

.newsItem {
  overflow: hidden;
  border-radius: 12px;
  width: calc(100% - (var(--last-news-total-count) - 1) * (var(--last-news-gap)));
  aspect-ratio: 1;
}

.newsLabel {
  background: linear-gradient(to left, var(--color-peach-3), rgba(116, 215, 189, 0.47));
  display: block;
  width: 100%;
  padding: 4px 8px;
  color: white;
  font-size: 20px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 586px) {
    font-size: 20px;
  }
}