.root {
  padding: 24px !important;
  padding-left: 0 !important;
  overflow: hidden !important;

  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.list {
  list-style: none;
}

.link {
  display: block;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 40px 0 40px 8px;
  overflow: hidden;


  @media (max-width: 1024px) {
    padding: 20px 0 20px 8px;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    .image {
      opacity: 1;
    }
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transition: opacity 300ms ease;
  opacity: 0;
}