.root {
  --color-peach-2: #fff4e7;
  --color-peach-3: #FEF0CF;

  --color-gray-3: #EFEFEF;
  --color-gray-4: #E0E1E2;

  --color-orange-5: #E46D1D;

  --color-gradient-1: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.00) 0deg, #F7ECD0 316deg, rgba(255, 255, 255, 0.00) 360deg);
}