@keyframes shiftLeftIn {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(0%) scale(1);
  }
}

@keyframes shiftLeftOut {
  from {
    transform: translateX(0%) scale(1);
  }
  to {
    transform: translateX(-100%) scale(0);
  }
}

//LAYOUT

.root {
  background: var(--color-gradient-1);
  display: grid;
  margin: -8px;
  column-gap: 20px;
  grid-template:
    "lf hd hd hd" auto
    "lf ct ct ct" 1fr
    "ft ft ft ft" auto
    "ad ad ad ad" auto / auto 1fr 1fr 1fr;


  @media (max-width: 1024px) {
    grid-template-columns: 200px 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-gap: 0;
    grid-template:
    "hd" auto
    "ct" 1fr
    "ft" auto
    "ad" auto;
  }
}

.leftNavigation {
  grid-area: lf;
}

.header {
  grid-area: hd;
}

.content {
  grid-area: ct;
}

.footer {
  grid-area: ft;
}

.additional {
  grid-area: ad;
}

//CONTENT
.contentSection {
  margin-right: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0 0 0 /70%);
  background: var(--color-gray-4);

  display: flex;
  gap: 20px;

  @media (max-width: 586px) {
    flex-direction: column;

    .rightSection {
      order: 1;
      width: 100%;
    }

    .pageContent {
      order: 2;
    }
  }

  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

.pageContent, .rightSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageContent {
  flex-grow: 1;
}

.rightSection {
  @media (max-width: 1024px) {
    width: 200px;
  }
}
